{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmar {% endblock %}

{% block content %}
    <br><br><br>

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title mb-4">¿Estás seguro de que deseas borrar el vehículo {{ vehiculo.nombre }}?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mr-2">Confirmar</button>
                    <a href="{% url 'vehiculo_list' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    {% endblock %}
