{% extends 'base.html' %}
{% load static %}

{% block title %}Sucursales{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5">
        <h1 class="display-4 text-center">Nuestra Sucursal</h1>
        <p class="text-center mb-5">Visítanos en nuestra sucursal ubicada en el corazón de la ciudad y descubre nuestra exclusiva colección de autos de lujo.</p>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="embed-responsive embed-responsive-16by9 shadow-lg rounded">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.2233443953146!2d-70.5482103682021!3d-33.39133688804374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ceb4333c71a9%3A0x51f6e809a6d0d5c4!2sAv.%20Padre%20Hurtado%20Nte%20525-587%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1719886528577!5m2!1ses!2scl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
