{% extends 'base.html' %}
{% block title %}Lista de Perfiles{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <h1 class="display-4 text-center">Lista de Perfiles</h1>
    <a href="{% url 'profile_add' %}" class="btn btn-primary mb-3">Añadir Perfil</a>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.user.username }}</td>
                            <td>{{ profile.user.email }}</td>
                            <td>{{ profile.user.first_name }}</td>
                            <td>{{ profile.user.last_name }}</td>
                            
                            <td>
                                <a href="{% url 'profile_edit' profile.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                <a href="{% url 'profile_delete' profile.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
