{% extends 'base.html' %}
{% load form_tags %}
{% block title %}Añadir Perfil{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <h1 class="display-4 text-center">Añadir Perfil</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                            {{ user_form.username|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.password1.id_for_label }}">{{ user_form.password1.label }}</label>
                            {{ user_form.password1|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.password2.id_for_label }}">{{ user_form.password2.label }}</label>
                            {{ user_form.password2|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                            {{ user_form.email|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ profile_form.region.id_for_label }}">{{ profile_form.region.label }}</label>
                            {{ profile_form.region|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <label for="{{ profile_form.comuna.id_for_label }}">{{ profile_form.comuna.label }}</label>
                            {{ profile_form.comuna|add_class:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
